################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/build
/x64
/.vscode
/.vs

*.exe
*.o
.tlog
.pdb
.gitignore
.zip
/14-15Day-전처리 매크로/파일분리/x64
